/* ===================== ESTILOS GENERALES ===================== */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #2D4254;
    color: #333;
}

/* Encabezados generales */
h1 {
    color: #ffffff; /* Azul verdoso */
    text-align: center;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('GreatVibesRegular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSansRegular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Digital7';
    src: url('digital7\(mono\).ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITCBenguiatStdMediumCn';
    src: url('ITCBenguiatStdMediumCn.otf');
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: 'TCBenguiatStdMediumC';
    font-weight: normal;
    font-size: 230%;
    color: #FFD700;
    text-align: center;
}

h3 {
    font-family: 'Great Vibes';
    font-weight: normal;
    font-size: 230%;
    color: #ffffff;
    text-align: center;
}

h4 {
    font-family: 'Great Vibes';
    font-weight: normal;
    font-size:150%;
    color: #ffffff;
    text-align: center;
}

h5 {
    font-family: 'TCBenguiatStdMediumC';
    font-weight: normal;
    font-size: 185%;
    color: #ffffff;
    text-align: center;
}

/* ===================== HEADER / PORTADA ===================== */
.hero {
    background-image: url('pluma2.jpg');
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-position: center;
    background-size: cover;   /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que se repita */

    /* 游댳 Centrado vertical y horizontal */
    display: flex;
    flex-direction: column;   /* Ordena la imagen, nombre y subt칤tulo en columna */
    justify-content: center;  /* Centrado vertical autom치tico */
    align-items: center;      /* Centrado horizontal autom치tico */

    text-align: center;
    color: white;
    padding: 20px; /* Ajuste para que no quede tan cargado en pantallas peque침as */
}

.hero .foto-principal img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #ffffff;
    object-fit: cover;
    margin: 150px auto 0px; /* Centrado horizontal autom치tico */
    display: block;      /* Necesario para que margin auto funcione */
}

.hero .nombre {
    font-family: 'Italianno'; /* Fuente elegante */
    font-size: 2.5em;
    margin: 10px 0;
}

.subtitulo {
    font-size: 1.2em;
    margin-top: 5px;
    font-style: italic; /* toque elegante */
    opacity: 0.9;
}

.hero .fecha {
    font-size: 2.0em;
    margin: 10px 0;
}


/* Secci칩n parallax */
.parallax {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* 游댳 Capa oscura */
    url('lago.jpg'); /* 游댳 Cambia por tu imagen */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  
  background-attachment: fixed; /* Efecto parallax */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Opcional: centrar contenido si luego agregas texto */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Detecta iOS y elimina el fixed */
@supports (-webkit-touch-callout: none) {
  .parallax {
    background-attachment: scroll; /* 游댳 fallback만n말OS*/
    }
}

/* ===================== SECCIONES GENERALES ===================== */
section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

/* ===== CARRUSEL ===== */
.contenedor-carrusel {
    position: relative;
    max-width: 400px;
    height: 600px;
    margin: auto;
    overflow: hidden;
}

/* Cada imagen ocupa todo el espacio del carrusel */
.contenedor-carrusel .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: cambioImagen 12s infinite;
}

.contenedor-carrusel .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* Animaciones para las 3 im치genes */
.contenedor-carrusel .slide:nth-child(1) {
    animation-delay: 0s;
}
.contenedor-carrusel .slide:nth-child(2) {
    animation-delay: 4s;
}
.contenedor-carrusel .slide:nth-child(3) {
    animation-delay: 8s;
}

/* Animaci칩n: cada imagen aparece y desaparece suavemente */
@keyframes cambioImagen {
    0% { opacity: 0; }
    8% { opacity: 1; }
    33% { opacity: 1; }
    41% { opacity: 0; }
    100% { opacity: 0; }
}

/* ===================== IM츼GENES DE LUGARES ===================== */
.imagen-lugar {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 15px auto;
    border-radius: 12px;
}

/* ===================== BOT칍N ===================== */
.btn-bezel {
    display: inline-block;   /* Se ajusta al texto */
    padding: 12px 24px;      /* Espacio interno alrededor del texto */
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(145deg, #2D4254, #2D4254);
    border: none;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 
        inset 2px 2px 4px rgba(255, 255, 255, 0.3),
        inset -2px -2px 4px rgba(0, 0, 0, 0.5),
        4px 4px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
}


.btn-bezel:hover {
    background: linear-gradient(145deg, #2D4254, #1f2c37);
    box-shadow: 
        inset 1px 1px 2px rgba(255, 255, 255, 0.4),
        inset -1px -1px 2px rgba(0, 0, 0, 0.5),
        2px 2px 6px rgba(0, 0, 0, 0.6);
    transform: translateY(-2px); /* Efecto de elevaci칩n */
}

.btn-bezel:active {
    transform: translateY(2px); /* Simula que se hunde */
    box-shadow: 
        inset 2px 2px 6px rgba(0, 0, 0, 0.6),
        inset -2px -2px 6px rgba(255, 255, 255, 0.2);
}




/* ===================== TEMPORIZADOR ===================== */

#temporizador {
    background-image: url('fondopavoreal.jpg');
    background-position: center;
    background-color: #2D4254;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 200px 20px;

    background-size: cover; /* La imagen cubre todo el contenedor */
    background-repeat: no-repeat; /* Evita que se repita */
}


/* Estilo para la imagen del t칤tulo */
.titulo-imagen img {
    max-width: 100%;
    height: auto;
    margin-bottom: 70px; /* Separaci칩n del temporizador */
}

/* Temporizador sigue igual */
.contador {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: nowrap;
}

.tiempo {
    background: #00121900;
    color: #fdfdfd;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    max-width: 120px;
    min-width: 60px;
    box-shadow: 0 0 50px #000000;
    border: 2px solid #FFD700;
    text-align: center;
}

.tiempo span {
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Digital7';
    letter-spacing: 2px;
    color: #ffffff;
}

.tiempo small {
    font-size: 0.9em;
    opacity: 0.8;
}

/*  Responsividad */
@media (max-width: 768px) {
    .titulo-imagen img {
        max-width: 80%;
    }

    .contador {
        gap: 8px;
    }

    .tiempo span {
        font-size: 1.8em;
    }

    .tiempo small {
        font-size: 0.75em;
    }
}

@media (max-width: 480px) {
    .titulo-imagen img {
        max-width: 70%;
    }

    .contador {
        gap: 5px;
    }

    .tiempo {
        padding: 10px;
    }

    .tiempo span {
        font-size: 1.5em;
    }

    .tiempo small {
        font-size: 0.7em;
    }
}

/* ===== ANIMACIONES DE ENTRADA ===== */
.fade-in {
    animation: fadeIn 1s ease-in;
}

.slide-up {
    animation: slideUp 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* Secci칩n parallax */
.parallax2 {
  background-image: url('cascada.jpg'); /* 游댳 Cambia por tu imagen */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  
  background-attachment: fixed; /* Efecto parallax */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Opcional: centrar contenido si luego agregas texto */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Detecta iOS y elimina el fixed */
@supports (-webkit-touch-callout: none) {
  .parallax2 {
    background-attachment: scroll; /* 游댳 fallback만n말OS*/
    }
}

/* ===================== ITINERARIO================= */

.itinerario {
    width: 100%;                 
    display: flex;               /* Activamos flexbox */
    justify-content: center;     /* Centrado horizontal */
    overflow: hidden;
    padding: 20px 0;             /* Opcional: margen superior/inferior */
}

.itinerario img {
    width: 100%;                 /* Imagen ocupa todo el ancho posible */
    max-width: auto;          /* Pero nunca m치s de 1920px */
    height: auto;                /* Ajusta altura autom치ticamente */
    object-fit: cover;           /* Cubre bien el espacio */
    display: block;
    margin: 0 auto;              /* Centrado horizontal */
}


/* ===================== FORMULARIO CONFIRMACI칍N ===================== */
#formulario-asistencia {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    background-color: #f0f2ff; /* Fondo claro para resaltar el formulario */
    box-shadow: 0 8px 20px rgba(36, 50, 158, 0.25);
    font-family: 'Raleway', sans-serif;
}

#formulario-asistencia h2 {
    text-align: center;
    color: #1f2c37;
    font-size: 2em;
    margin-bottom: 25px;
}

.campo-formulario {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.campo-formulario label {
    margin-bottom: 8px;
    font-weight: 500;
    color: #1f2c37;
}

.campo-formulario input[type="text"] {
    padding: 10px 15px;
    border: 2px solid #1f2c37;
    border-radius: 8px;
    font-size: 1em;
    transition: all 0.3s ease;
}

.campo-formulario input[type="text"]:focus {
    border-color: #1a237e;
    box-shadow: 0 0 8px rgba(36, 50, 158, 0.5);
    outline: none;
}

.campo-formulario input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}

.campo-formulario button {
    background-color: #2D4254;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.campo-formulario button:hover {
    background-color: #1a237e;
    box-shadow: 0 4px 12px rgba(36, 50, 158, 0.5);
}

/* Estilo para checkbox con label */
.campo-formulario label input[type="checkbox"] {
    vertical-align: middle;
}

.confirmacion button:hover {
    background-color: #24329e;
}

/* ===================== FOOTER ===================== */
footer {
    background-color: #2D4254;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top:30px;
}

/* ===== ESTILO DEL REPRODUCTOR ===== */
.player-musica {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #2D4254; /* Color #24329e con transparencia */
    padding: 10px 15px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 9999;
}

.player-musica button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
}

.player-musica button:hover {
    text-decoration: underline;
}








